@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom scrollbar for a better dark mode experience */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #14120b; /* surface */
}
::-webkit-scrollbar-thumb {
    background: #27272a; /* zinc-800 */
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3f3f46; /* zinc-700 */
}
